body {
    font-family: Georgia, serif;
    margin: 0 auto;
    text-align: center;
    max-width: 120px;
    width: 100%;
    min-width: 288px;
    background-color: #212121;
    user-select: none;
}
h1{
    font-size: 23px;
}
#cover{
    background-color: #212121;
    width: 290px;
    height: 300px;
    position: absolute;
    top: 0;
}
.question-box {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 400px;
    background: rgb(214, 212, 212);
    color: #212121;
}
button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}
.result {
    font-weight: bold;
}

/* Pasek postępu */
#progress-bar-container {
    width: 100%;
    background-color: #ffffff;
    height: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

#progress-bar {
    height: 100%;
    background-color:rgb(131, 67, 51);
    width: 0%;
    border-radius: 5px;
}

/* Animacja przesuwającego się paska */
@keyframes progressAnimation {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

/* Styl dla liczby żyć */
#lives {
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.result-contaier{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0,0.8);
    height: 250px;
    width: 250px;
    top: 100px;
    border-radius:50px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 40px rgba(0, 0, 0,1);
    color: white;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    
}
.result-contaier h2{
    text-align: center;
  }

.att{
    text-align: center;
    margin-bottom:15px;
    font-size: 10px;
}
.button-container a {
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: none;
    color: rgb(131, 67, 51);
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid rgb(131, 67, 51);
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 rgb(131, 67, 51);
  }
  .button-container  a:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 rgb(131, 67, 51);
  }
  .button-container a:active {
    transform: scale(0.9);
  }
  